server:
  port: 8888
spring: 
  profiles: 
    active: dev
  application: 
    name: cloudConfigServer
  cloud: 
    config:
      server:
        overrides:
          aa: bb
        git: 
#          uri: https://github.com/gomyho/cloud-config-files
          uri: file:///E:/gitrepo/cloud-config-files
          username: gomyho@qq.com
          password: woai8mfxc
          searchPaths: '{application}'
#          uri: https://github.com/spring-cloud-samples/config-repo
eureka: 
  instance:
    health-check-url: ${management.context-path}/health
    statusPageUrlPath: ${management.context-path}/info
  client: 
    service-url: 
      defaultZone: http://localhost:8761/eureka
security: 
  user:
    name: user
    password: 123 
encrypt: 
  key-store:
    location: file:///E:/usr/git/cloud/server.jks
    password: 123456
    alias: mytestkey
    secret: 123456
logging: 
  level:
    com.netflix.discovery: 'OFF'
    org.springframework.cloud: 'DEBUG'

---
spring: 
  profiles: aa